* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    height: 100%;
    width: 100%;
}
body {
    background-color: #465D6C;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    height: 100%;
    width: 70%;
    margin-top: 115px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.sideBar {
    height: 90%;
    width: 7%;
    background-image: linear-gradient(#4D7283, #698089 ) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#star {
    background-color: white;
    padding: 10px;
    border-radius: 100%;
}
.logo {
    margin-top: 20px;
    margin-bottom: 40px;
}
.logoContainer {
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoContainer p {
    margin-top: 13px;
    color: white;
    font-size: 10px;
}
.contentContainer {
    height: 90%;
    width: 90%;
    background-image: linear-gradient(#4D7283, #698089 );
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.content {
    
    height: 88%;
    width: 99%;
    background-color: white;
    border-radius: 30px;;
}
.topNav {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
}
.user {
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.backbutton {
    color: white;
    display: flex;
    align-items: center;
}
.backbutton div {
    background-color: white;
    padding: 7px 10px;
    border-radius: 100%;
}
.backbutton p {
    padding-left: 15px;
    font-size: medium;
}
.websitenav a {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
}
.memberContainer {
    display: flex;
    align-items: center;
}
.member {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: -6px;
    border: 3px solid #4D7283;
}
.memberContainer p {
    margin-left: 13px;
    color: white;
    font-weight: 900;
    font-size: 12px;
}
p span {
    margin-left: 5px;
    font-weight: 100;
    opacity: 70%;
}
.websitenav :nth-child(2) {
    opacity: 50%;
}
.websitenav :nth-child(3) {
    opacity: 50%;
}
.topcontainer {
    height: 45%;
    width: 94%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.popularitycontainer {
    height: 85%;
    width: 28%;
    background-color: #EDCCBB;
    border-radius: 30px;
    padding: 3%;
}

  .visitors {
    background-color: #3289A0;
    background-image: linear-gradient(to bottom right, #3289A0, #EECCBA);
    height: 85%;
    width: 57%;
    border-radius: 25px;
    padding: 3%;
  }
  .visitors span {
    color: white;
  }
  .visitors h1 {
    color: white;
    font-size: 55px;
    margin-bottom: 10px;
  }
  ul li {
    list-style: none;
    display: flex;
    margin-top: 15px;
  }
  .numba {
    display: block;
    font-size: 15px;
  }
  .visitors .icons img {
    max-width: 5%;
    height: 100%;
    padding-right: 1%;
  }
  .visitors .fullStat {
    background-color: #2A7B97;
    color: black;
    position: absolute;
    left: 50%;
    bottom: 40%;
    height: 80px;
    width: 300px;
    margin: 30px;
  }
